.img{
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  border-radius: 15px;
}

.inputcat{
  border: none;
  font-size: 12px;
  vertical-align: middle;
}

.tweet-button{
  background-color: rgb(94, 154, 243);
  color: white;
  border: none;
  padding: 6px 8px 6px 8px;
  border-radius: 12px;
  font-size: 10px;
  font-weight: bold;
}
